/*YOUR CUSTOM STYLES*/
.shopping-cart-items li{
    position: relative;
}
.shopping-cart-items i.fa.fa-times {
    position: absolute;
    top: 0;
    right: 0;
}

.login-register > li {
    border: none;
}

.clearfix.break-line {
    margin: 20px 0;
}

.product-thumb hr.dot-hr {
    border-style: dashed;
    margin: 13px 0;
}

.blog-category-list span {
    background: #cecece;
    padding: 2px 7px;
    border-radius: 4px;
    font-size: 10px;
    color: white;
    margin-left: 3px;
}

.is-countdown,.no-countdown {
    height: 24px;
}

.col-md-3 {
    /* height: 501px; */
}

@media (max-width: 768px) {

}
@media (min-width: 768px) and (max-width: 992px) {

}
@media (min-width: 992px) and (max-width: 1200px) {
    header.product-header {
        max-height: 294px;
        display: block;
        overflow: hidden;
    }
}
@media (min-width: 1200px) {
    header.product-header {
        max-height: 359px;
        display: block;
        overflow: hidden;
    }
}
